extends layout

block content
	.container
		h1 About Us
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a efficitur quam. Nulla sodales, justo nec commodo malesuada, quam nulla efficitur nisl. 
		ul
			li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			li Curabitur eget eros ac libero finibus viverra.
			li Pellentesque aliquam erat ac feugiat cursus.
		p Maecenas porta vitae nibh at sodales. Pellentesque id nisl a ipsum aliquet ultricies. Morbi vel orci tincidunt, viverra metus et, pretium est. Nullam sed pellentesque neque. Aenean iaculis elementum erat, sed cursus est lacinia ac. Phasellus mattis leo sed malesuada fermentum. Nulla convallis tempus libero, vitae mollis massa tincidunt in. Proin non magna nec mauris bibendum pharetra. 
	