extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a efficitur quam. Nulla sodales, justo nec commodo malesuada, quam nulla efficitur nisl. 
			a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Praesent at condimentum dolor. Nam commodo ex sodales enim accumsan, et finibus sapien luctus. Donec laoreet mi sit amet scelerisque facilisis. Suspendisse laoreet, dui ut ullamcorper accumsan, lectus dui egestas tortor, id tincidunt orci turpis ac lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus malesuada scelerisque pharetra. In et nisl sit amet magna sagittis blandit. 
				a.btn.btn-secondary.btn-lg(href="#") View Details &raquo;
			.col-md-4
				h2 Services
				p Aenean nec semper purus, non scelerisque justo. Proin porttitor lacus tincidunt ante vestibulum, sed lacinia ligula viverra. Suspendisse bibendum tincidunt erat eu ornare. Nam ante justo, vestibulum et nibh eu, scelerisque pharetra lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Duis lacus nibh, tempus vel dui hendrerit, dignissim elementum eros.  
				a.btn.btn-secondary.btn-lg(href="#") View Details &raquo;
			.col-md-4
				h2 Get In Touch
				p Sed porta ut orci non tincidunt. Donec id arcu maximus, fringilla quam vel, scelerisque ipsum. Fusce egestas, quam vel rhoncus accumsan, dolor libero volutpat nisl, vitae rutrum elit ipsum sed ante. Integer vitae varius risus. Phasellus volutpat pulvinar purus, eu mattis libero accumsan quis. Donec vehicula mauris lorem, quis posuere mauris vehicula non. Vestibulum consectetur aliquam leo in tincidunt. Quisque sit amet finibus libero, a sollicitudin nisl. 
				a.btn.btn-secondary.btn-lg(href="#") View Details &raquo;
	hr